.content-wrapper {
    max-width: 900px; /* Ajusta el ancho según prefieras */
    margin: 20px auto; /* Centra el contenido y da espacio respecto al Sidebar */
    padding: 20px;
    border-radius: 12px;
    background: linear-gradient(to bottom, white, #cce7ff); /* Gradiente de blanco a gris */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}